/*control +f2*/
.c_project h2{
 color: #0C49B0;
 margin-top: 4%;
 margin-bottom: 2rem;
 padding-left: 14px;
 display: grid;
grid-template-areas: overlap;
font-size: xxx-large;
}

.c_project .menu{
    
    border: 1px solid #0368FE;
    border-radius: 50px;
    width: 50%;
    margin-left:auto;
    margin-right: auto;
    padding: 3rem 2rem 2rem 0rem;
  
    z-index: 44444;

}
.c_project .menu a{

    text-decoration: none;
    font-family: Ubuntu;
    font-size: 2rem;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
   padding: 1rem 2rem;
   
text-align: center;
}
.c_project .c-manu-activo{
    background-color: #023E9826;
    border-radius: 28px;
}
.c_project ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}


.c_project ul li a:hover{
    background-color: #2d76e426;
    border-radius: 28px;
}
.c_project .cards{
position: relative;
    background-color: #E7EDF5;
    padding: 7vw;
    margin-top: -100px;
    
    

}