.c_navbar{

    background: #E7EDF5;
    border-bottom-right-radius: 60px;
    width: 100%;
}
.c_navbar .btn{
    background: #0C49B0;
    color: white;
}
.c_navbar a{
    padding-right: 30px !important;
    color:#0C49B0;
}
.btn-rlogin{
    color: red;
}
.botonIngresar{
    text-align: center;
    padding-left: 40px;
}