
.footer {
  background-color: #0052cc;
  color: white;
  padding: 5px 16px;
  margin: 0;
  height: 149px;
  width: 100%;
  z-index: 2;
}

  .contact-info h3 {
    padding-top: 5px;
    font-size: 16px;
  }
  
  .contact-info p {
    margin: 3px 0 0;
    font-size: 14px;
  }
  
  .social-icons {
    display: flex;
    padding: 0;
  }
  
  .icon {
    margin-left: 8px;
    font-size: 18px;
  }
  
  .office-info {
    text-align: right;
    font-size: 12px;
    padding-right: 30px;
  }
  
  .office-info p {
    margin: 2px 0;
  } 