
.project-gallery {
    font-family: Arial, sans-serif;
    padding: 20px;

}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 61px;
    padding: 126px;
}

.project-card {
 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #0056b3;
}

.project-card img {
    max-width: 100%;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.project-card .project-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-card h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.project-card .price {
    color: green;
    font-weight: bold;
}

.project-card .description {
    color: #555;
    font-size: 0.9em;
}

.project-card button {
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto;
    position: relative;
    bottom: 0;
}

.project-card button:hover {
    background-color: #0056b3;
}
