.location-map {
    background-color: white;
    padding:0;
    font-family: Arial, sans-serif;
   margin-bottom: -40px;
  }
  
  .header {
    background-color: #0052cc;
    color: white;
    text-align: center;
    padding: 26px;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    width: 99.9%;
  }
  
  .mapswrapper iframe{border:none;position:relative;z-index:2}
  .mapswrapper{background:#fff;position:relative}