
/* styles.css */
.C_Register {

    position: relative;
    top: 80px;
    left: -20px;
    padding-bottom: 200px;
    height: fit-content;
    line-height: 23px;
}
.C_Register h1{
    color: #0C49B0;
    font-size: 28px;
    text-align: center;
}
.C_Register b{
    color: #48974E ;
}

select{
    outline: none;
   
}
.C_Register label {
    display: block;
    margin-bottom: 0.5em;
    color: #333333;
}

.C_Register input {
    line-height: 0px;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.inputSize{
    width: 236px;
}
.C_Register button {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 0.7em;
    border: none;
    border-radius: 5px;
    background-color: #DBD8D8;
    color: black;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    margin: 0 auto;
}

.C_Register button:hover {
    background-color: #0056b3;
}

.C_Register p {
    text-align: center;
    font-size: 1em;
}
.contenedorR{
    height: 86vh;
  }
  .form-register{
    width: 800px;
  }
  .selectR{
    padding: 10px;
    padding-right: 60px;
    border-radius: 10px;
  }
